<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jdyy.mapper.UserMapper" >
    <sql id="all">

    </sql>

    <!--分页-->
    <select id="getUserPage" resultType="com.jdyy.entity.User">
        select * from user limit #{dataStart},#{pageSize};
    </select>

    <!--查所有用户总数-->
    <select id="countUser" resultType="int">
        select count(uid) from user;
    </select>
    
    <!--查所有-->
    <select id="getAll" resultType="com.jdyy.entity.User">
        SELECT * FROM user;
    </select>

    <!--查一个用户-->
    <select id="getOneUser" resultType="com.jdyy.entity.User">
        SELECT * FROM user where uid=#{uid} or username=#{username};
    </select>

    <!--添加用户-->
    <insert id="addUser" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO user(username, password, create_date, avatar, age, unit, gender, email)
        VALUES(#{username}, #{password}, now(), #{avatar}, #{age}, #{unit}, #{gender}, #{email})
    </insert>




    <!--删除用户-->
    <delete id="removeUser">
        delete from user where uid=#{uid};
    </delete>

    <!--修改用户-->
    <update id="modifyUser">
        update user
        <set>
            <if test="username!=null|username!=''">
                username=#{username},
            </if>
            <if test="password!=null|password!=''">
                password=#{password},
            </if>
            <if test="role!=null|role!=''">
                role=#{role},
            </if>
            <if test="avatar!=null|avatar!=''">
                avatar=#{avatar},
            </if>
            <if test="age!=null|age!=''">
                age=#{age},
            </if>
            <if test="unit!=null|unit!=''">
                unit=#{unit},
            </if>
            <if test="gender!=null|gender!=''">
                gender=#{gender},
            </if>
            <if test="email!=null|email!=''">
                email=#{email}
            </if>
        </set>
            where uid=#{uid};
    </update>

    <select id="login" resultType="com.jdyy.entity.User">
        select * from user where username=#{username} and password=#{password};
    </select>

<!--    根据id查用户角色列表-->
    <select id="getRolesById" parameterType="object" resultType="string">
        SELECT r.name
        FROM user u
        JOIN user_role ur ON u.uid = ur.user_id
        JOIN role r ON ur.role_id = r.id
        WHERE u.uid = #{uid}
    </select>
    <!--    根据id查用户权限列表-->
    <select id="getPermissionsById" parameterType="object" resultType="string">
        SELECT p.name
        FROM user u
        JOIN user_permission up ON u.uid = up.user_id
        JOIN permission p ON up.permission_id = p.id
        WHERE u.uid = #{uid}
    </select>



</mapper>